<%- include("../partials/header", { bot, user, path, title: "Add Team" }) %>

<% if(alert) { %> 
<div class="notification">
  <button class="delete"></button>
  
  <%= alert %>
    </div>
<% } %>

<div class="container center">
  <div class="hero-body">
    <p class="title center is-underlined">
      Team Showcase 
    </p>
    <p class="center">
      List of teams currently registered with Rafiki Bot 
    </p>
    <ul>
</ul>
  </div>
  <div class="table-container">

  <table class="table is-striped">

    

  <thead>

    <tr class="has-background-primary">

      

      <th class="">Team Name</th>
      
      </tr>
    </thead>

      <tbody>

    
<div class="field is-grouped">

  <% teams.forEach(function(team){ %>
    <tr>
<th> <%= team.Name %> </th>
  <td> <%= team.Tag %> </td>
    <td> <%= team.Manager %> </td>
      <td> <button class="button is-primary">

    <span class="icon is-small">

      <i class="fas fa-eye"></i>

    </span>

    <span>View</span>

  </button></td>
    </tr>

  <% }); %>

</div>


  </tbody>

  </table>

</div>
  <div class="hero-body">
    <p class="title center is-underlined">
      Add Team
    </p>
    <p class="center">
      Use this form to add your team to our database to enable more features. </br>For more information please see our <a href="/help">help guide.</a>
    </p>
  </div>
  
<form action="/team-add" method="POST" >
<div class="field">

  <label class="label">Team Name</label>

  <div class="control">

    <input name="Name" id="Name" class="input" type="text" placeholder="e.g LionHeartz">

  </div>

</div>

<div class="field">

  <label class="label">Manager's Username</label>

  <div class="control">

    <input name="Manager" id="Manager" class="input" type="text" placeholder="@mattitsu">

  </div>

</div>

  <div class="field">

  <label class="label">Team Tag</label>

  <div class="control">

    <input name="Tag" id="Tag" class="input" type="text" placeholder="LHZ (3 Char Max)">

  </div>

</div>

<div class="field is-grouped is-grouped-centered">

  <p class="control">

    <button type="submit" class="button is-primary">

      Submit

    </button>

  </p>

  

    

      

   

  

</div>
</form>

 <p> By adding your team to our database you agree to the <a href="">Terms & Conditions</a> 


    </div>
 
  <%- include("../partials/footer") %>