<%- include("../partials/header", { bot, user, path, title: "Add User" }) %>

<div class="container center">
  <div class="hero-body">
    <p class="title center is-underlined">
      Team Showcase 
    </p>
    <p class="center">
      List of teams currently registered with Rafiki Bot 
    </p>
    <ul>

  <% teams.forEach(function(team){ %>

    <li> <%= team.Name %> </li>
    <li> <%= team.Tag %> </li>
    <li> <%= team.Manager %> </li>

  <% }); %>

</ul>
  </div>
  <div class="table-container">

  <table class="table">

    

  <thead>

    <tr class="has-background-primary">

      

      <th class="">Team Name</th>
      
      </tr>
    </thead>

      <tbody>

    
<div class="field is-grouped">

  <% teams.forEach(function(team){ %>
    <tr>
<th> <%= team.Name %> </th>
  <td> <%= team.Tag %> </td>
    <td> <%= team.Manager %> </td>
    </tr>

  <% }); %>

</div>
      <th>Example Team</th>
      <th class="is-centered">
      
      <div class="field is-grouped">

  

    

     

    

  

  <p class="control">

    <button class="button is-primary">

    <span class="icon is-small">

      <i class="fas fa-eye"></i>

    </span>

    <span>View</span>

  </button>

      

 

      

    
      
    

  </p>

  

    

      

    

  

</div>
      
      
      
      
      
      
      
      </th>
</tr>
        
        
      

      </td>

     

     

     

     

      

     

     

      

     

    </tr>

      

      

      

      

      

      

      

     

    </tr>

  </tbody>

  </table>

</div>
  <div class="hero-body">
    <p class="title center is-underlined">
      Add Team
    </p>
    <p class="center">
      Use this form to add your team to our database to enable more features. </br>For more information please see our <a href="/help">help guide.</a>
    </p>
  </div>
  

<div class="field">

  <label class="label">Team Name</label>

  <div class="control">

    <input class="input" type="text" placeholder="e.g LionHeartz">

  </div>

</div>

<div class="field">

  <label class="label">Manager's Username</label>

  <div class="control">

    <input class="input" type="email" placeholder="@mattitsu">

  </div>

</div>

  <div class="field">

  <label class="label">Team Tag</label>

  <div class="control">

    <input class="input" type="email" placeholder="LHZ (3 Char Max)">

  </div>

</div>

<div class="field is-grouped is-grouped-centered">

  <p class="control">

    <a class="button is-primary">

      Submit

    </a>

  </p>

  <p class="control">

    <a class="button is-light">

      Cancel

    </a>

  </p>

</div>

 <p> By adding your team to our database you agree to the <a href="">Terms & Conditions</a> 


    </div>
 
  <%- include("../partials/footer") %>